<div ng-controller="submitCtrl">
    <div>
        <div>订单状态：<span>待确认</span></div>
        <div>订单编号:{{orderdetail.orderform.id}}</div>
        <div>出团日期：{{orderdetail.tripSetoff.tripSetoffDate |date: 'yyyy-MM-dd'}}</div>
        <div>预订产品：{{orderdetail.product.name}}</div>
        <div>下单日期：{{orderdetail.orderform.bookTime|date: 'yyyy-MM-dd'}}</div>
        <div>回团日期：{{orderdetail.tripSetoff.tripSetoffDate+orderdetail.product.duration |date: 'yyyy-MM-dd'}}</div>
        <div>订单金额：{{orderdetail.price.total}}</div>
        <div>价格明细：成人（{{orderdetail.price.adultPrice }}元）{{orderdetail.price.adultnum}} 人</div>
        <div>儿童（{{orderdetail.price.childPrice}} 元）{{orderdetail.price.childnum}} 人</div>
    </div>
    <h1>订单处理</h1>
    <div>
        <div>
            处理联系人：
            <div>
                联系人：{{orderdetail.orderform.booker}}
                联系电话：{{orderdetail.orderform.bookerPhone}}
            </div>
        </div>

        <div>
            出团通知书&合同
        </div>
        <div>
            签证材料寄送地址
            <div>
                联系人：{{orderdetail.orderform.booker}}
                联系电话：{{orderdetail.orderform.bookerPhone}}
            </div>
        </div>
        <div>
            处理跟踪
            <table>
                <thead>
                <tr>
                    <th>时间</th>
                    <th>操作信息</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="process in orderdetail.orderprocess">
                    <td>{{process.updateTime |date: 'yyyy-MM-dd'}}</td>
                    <td>{{process.trackItem}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h1>订单信息</h1>
    <div>
        预订信息：
        <div>
            联系人：{{orderdetail.orderform.booker}}
            联系电话：{{orderdetail.orderform.bookerPhone}}
        </div>
    </div>
    <div>
        产品信息：
        <div>
            产品编号:{{orderdetail.product.id}}
            产品名称：{{orderdetail.product.name}}
            出发城市：{{}}
            出游人数：成人{{orderdetail.price.adultnum}} 人
            儿童{{orderdetail.price.childnum}} 人
            订单金额：{{orderdetail.price.total}}
        </div>
    </div>
    <div id="touristForms">
        <h1>游客信息</h1>
        <!--<form name="touristForm" id="touristForm" novalidate>
            <label>姓名:</label>
             <input type="text" name="name" ng-model="tourist.name" required/>

            <label>手机:</label>
             <input type="text" name="phone"ng-model="tourist.phone" required/>

            <label>客户类型:</label>
             <select ng-model="tourist.touristTypeId" name="type" required>
               <option value="1">成人</option>
               <option value="2">儿童</option>
            </select>

            <label>证件类型:</label>
             <select ng-model="tourist.certifateType" name="certifateType" required>
                <option value="身份证">身份证</option>
                <option value="护照">护照</option>
             </select>

            <label>证件号码:</label>
                <input type="text" ng-model="tourist.certifateNumber" name="certifateNumber" required/>

            <label>性别:</label>
            <select ng-model="tourist.gender" name="gender" required>
                <option value="0">男</option>
                <option value="1">女</option>
            </select>

            <label>出生日期：</label>
               <input type="date" ng-model="tourist.birthDate" name="birthDate" required/>

            <label>备注：</label>
               <input type="text" ng-model="tourist.remark" name="remark" required/>

            <label>邮箱:</label>
               <input type="email" ng-model="tourist.email" name="email" required/>

            <input type="submit" ng-disabled="touristForm.$invalid" ng-click="submit(tourist)" value="提交游客信息"/>
            <span ng-show="touristForm.$dirty&&touristForm.$invalid" style="background-color: red">请填写表单所需内容</span>
        </form>-->
        <input type="button" ng-click="createForm()" value="增加游客"/>
        <input type="button" value="提交所有" ng-click="submitAll()"/>
    </div>
</div>
