<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">旅行社信息</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">

                <form ng-submit="editAngencyInfo(angencyInfo)" method="post" class="form-horizontal" role="form"
                      ng-controller="angencyInfoCtrl" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-md-2 control-label">注册人名字：
                        </label>

                        <div class="col-md-8">
                            <input type="text" name="name" class="form-control" ng-model="angencyInfo.name"
                                   placeholder="请输入注册人名字" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">注册人证件类型：
                        </label>

                        <div class="col-md-8">
                            <select class="form-control" name="type" ng-model="angencyInfo.type">
                                <option selected>身份证</option>
                                <option>护照</option>
                                <option>其它</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">注册证件号码：
                        </label>

                        <div class="col-md-8">
                            <input type="text" name="rnumber" class="form-control" ng-model="angencyInfo.rnumber"
                                   placeholder="请输入注册人证件号码" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">注册人简介：
                        </label>

                        <div class="col-md-8">
                            <input type="text" name="number" class="form-control" ng-model="angencyInfo.number"
                                   placeholder="请输入注册人简介" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">电话：
                        </label>

                        <div class="col-md-8">
                            <input type="text" name="phone" class="form-control" ng-model="angencyInfo.phone"
                                   placeholder="请输入注册人电话" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">邮箱：
                        </label>

                        <div class="col-md-8">
                            <input type="email" name="email" class="form-control" ng-model="angencyInfo.email"
                                   placeholder="请输入正确的邮箱" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">密码：
                        </label>

                        <div class="col-md-8">
                            <input type="password" name="password" class="form-control" ng-model="angencyInfo.password"
                                   placeholder="请输入安全的密码" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">地址：
                        </label>

                        <div class="col-md-8">
                            <input type="text" name="address" class="form-control" ng-model="angencyInfo.address"
                                   placeholder="请输入地址" required>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-2 control-label">公司名字</label>
                        <div class="col-md-8">
                            <input type="text" name="cname" class="form-control" ng-model="angencyInfo.cname"
                                   placeholder="请输入公司名称" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">简介：
                        </label>

                        <div class="col-md-8">
                            <textarea type="area" name="brief" rows="5" class="form-control" ng-model="angencyInfo.brief"
                                      placeholder="请输入公司简介" required></textarea>
                        </div>
                        <!-- <h2>{{userInfo.brief}}</h2>-->
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="修  &nbsp;   改">
                            <!--  <button class="btn btn-default" ng-click="getFormData()">
                             注  &nbsp;   册
                         </button>-->

                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>

