<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">旅行社上传证书文件</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">

                <form method="post" class="form-horizontal" role="form"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-md-2 control-label">上传证书
                        </label>

                        <div class="col-md-8" ng-controller="myCtrl">
                            <input type="file" name="certificate" class="form-control" file-model="myFile"
                                   onchange="openFile(event)"
                                   placeholder="" required>
                            <img id='output' width="150px" float="left">
                            <button ng-click="uploadFile()" id="certificate" float="left" style="display:none;">上 传
                            </button>
                            <!-- <input type="submit" value="上传" class="col-md-2">-->
                            <script>
                                var openFile = function (event) {

                                    var input = event.target;
                                    // alert(input.toLocaleString());
                                    var reader = new FileReader();
                                    reader.onload = function () {
                                        var dataURL = reader.result;
                                        var output = document.getElementById('output');
                                        output.src = dataURL;
                                    };
                                    reader.readAsDataURL(input.files[0]);
                                    document.getElementById("certificate").style.display = "block";
                                };

                            </script>

                        </div>
                        <!-- <button class="col-md-2" onclick="uploadmyfile()">上传</button>-->
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>

