<style>
    .radiobutton {
        display: inline-block;
    }
</style>
<div ng-controller="commentCtrl">

        <div class="form-group">
            <form ng-if="!hasComment">
                <div>
                    <label>评分</label>
                    <br>
                    <div class="radiobutton">
                        <label>
                            <input type="radio" ng-model="remark" value="1">
                            1
                        </label>
                    </div>
                    <div class="radiobutton">
                        <label>
                            <input type="radio" ng-model="remark" value="2">
                            2
                        </label></div>
                    <div class="radiobutton">
                        <label>
                            <input type="radio" ng-model="remark" value="3">
                            3
                        </label>
                    </div>
                    <div class="radiobutton">
                        <label>
                            <input type="radio" ng-model="remark" value="4" >
                            4
                        </label>
                    </div>
                    <div class="radiobutton">
                        <label>
                            <input type="radio" ng-model="remark" value="5">
                            5
                        </label>
                    </div>
                    <br>
                </div>
                <label>评价内容：</label><textarea id="content" class="form-control text" cols="20" rows="5" name="content"></textarea>
                <br>

                <input type="submit" ng-click="submit()" class="btn btn-info" name="提交">
            </form>
        </div>
        <div ng-if="hasComment">感谢您的评价！</div>

</div>