<div class="container"  ng-controller="searchBarCtrl">

    <div class="row">
        <div class="col-xs-1 col-sm-2 col-md-2">

        </div>

        <div class="col-xs-2 col-sm-1 col-md-1">
            <button type="button" class="btn btn-default" ng-click="select_location(lg)">
                {{setoff_bar_location.name}}
            </button>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6">
            <input class="form-control" type="text" name="name" placeholder="请输入" ng-model="search_bar_str">

        </div>
        <div class="col-xs-1 col-md-1">
            <button type="button" class="btn btn-primary" name="button" ng-click="on_search()">搜索</button>
        </div>
    </div>
</div>
<!--<div ui-view="searchBar"></div>-->


<div class="container">
    <img class="basicDiv" src="images/nav.jpg" height="200px" width="800px">
    <form float="right">

    </form>
</div>
<div class="basicDiv" style="min-width:1165px; margin:auto">
    <ol class="breadcrumb">
        <li class="navLi"><a href="#">国内长线</a></li>
        <li class="navLi"><a href="#">周边短线</a></li>
        <li class="navLi"><a href="#">主题旅游</a></li>
        <li class="navLi"><a href="#">游 轮</a></li>
        <li class="navLi"><a href="#">海 岛</a></li>
        <li class="navLi"><a href="#">酒 店</a></li>
    </ol>
</div>

<!-- 国内长线 -->
<hr>
<div class="basicDiv">
    <h2>国内长线</h2>
    <div class="row">

        <div class="ud-col-md-3 ">
            <img class="toBlock  floatLeft" src="images/nav.jpg" height="100px" width="100px">
            <div>
                <a class="toBlock " href="#"><h4>海南</h4></a>
                <a href="#">海口</a>
                <a href="#">三亚</a>
                <a href="#">天涯海角</a>
            </div>
        </div>

        <div class="ud-col-md-3 ">
            <img class="toBlock  floatLeft" src="images/nav.jpg" height="100px" width="100px">
            <div>
                <a class="toBlock " href="#"><h4>海南</h4></a>
                <a href="#">海口</a>
                <a href="#">三亚</a>
                <a href="#">天涯海角</a>
            </div>
        </div>

        <div class="ud-col-md-3 ">
            <img class="toBlock  floatLeft" src="images/nav.jpg" height="100px" width="100px">
            <div>
                <a class="toBlock " href="#"><h4>海南</h4></a>
                <a href="#">海口</a>
                <a href="#">三亚</a>
                <a href="#">天涯海角</a>
            </div>
        </div>

    </div>
</div>
<hr>
<!-- 门票 -->
<div class="basicDiv">
    <h2>门票</h2>
    <div class="row">
        <div class="col-md-2">
            <img class="toBlock  floatLeft" src="images/nav.jpg" height="100px" width="100px">


        </div>
        <div class="col-md-2">
            <a class="toBlock " href="#"><h4>海南</h4></a>
            <a href="#">海口</a>
            <a href="#">三亚</a>
            <a href="#">天涯海角</a>
        </div>

        <div class="col-md-2">
            <a class="toBlock " href="#"><h4>海南</h4></a>
            <a href="#">海口</a>
            <a href="#">三亚</a>
            <a href="#">天涯海角</a>
        </div>

        <div class="col-md-2">
            <a class="toBlock " href="#"><h4>海南</h4></a>
            <a href="#">海口</a>
            <a href="#">三亚</a>
            <a href="#">天涯海角</a>
        </div>

        <div class="col-md-2">
            <a class="toBlock " href="#"><h4>海南</h4></a>
            <a href="#">海口</a>
            <a href="#">三亚</a>
            <a href="#">天涯海角</a>
        </div>
    </div>
</div>
<hr>
<!-- 热卖 -->
<div class="basicDiv">
    <h2>热卖</h2>


    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <a class="toBlock " href="#"><h4>[圈游节]曼谷＋沙美岛＋芭堤雅5晚6日游（直飞豪华酒店自助餐）</h4></a>
            <div class="floatLeft" style="color: red;">2580元</div>
            <div class="discountMsg">2134人</div>
            <div class="discountMsg" style="background-color:orange; padding: 0px; margin-right: -4px;">销量</div>
            <div class="discountMsg">送258</div>
            <div class="discountMsg">抵213</div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <a class="toBlock " href="#"><h4>[圈游节]曼谷＋沙美岛＋芭堤雅5晚6日游（直飞豪华酒店自助餐）</h4></a>
            <div class="floatLeft" style="color: red;">2580元</div>
            <div class="discountMsg">2134人</div>
            <div class="discountMsg" style="background-color:orange; padding: 0px; margin-right: -4px;">销量</div>
            <div class="discountMsg">送258</div>
            <div class="discountMsg">抵213</div>
        </div>

    </div>
</div>
<hr>
<!-- 最热 -->
<div class="basicDiv">
    <h2>最热</h2>
    <div class="row">
        <div class="col-md-2 ">
            <img class="toBlock  floatLeft" src="images/nav.jpg" height="100px" width="100px">
        </div>

        <div class="col-md-5">
            <div>
                <a class="toBlock " href="#"><h4>曼谷＋沙美岛＋芭堤雅5晚6日游（直飞豪华酒店自助餐）</h4></a>
                <div class="row">
                    <div class="col-md-3" style="text-align: right;">同行关注:</div>
                    <div class="col-md-1" style="color: orange;">6</div>
                    <div class="col-md-1" style="text-align: left;"> 次</div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="text-align: right ;">团期:</div>
                    <div class="col-md-2" style="color: orange;">06/06</div>
                    <div class="col-md-2" style="color: orange;">06/06</div>
                    <div class="col-md-2"><a href="#">[更多]</a></div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="text-align: right;">建议售价:</div>
                    <div class="col-md-1" style="color: orange;">14900</div>
                    <div class="col-md-1" style="text-align: left;">元</div>
                </div>
            </div>
        </div>

    </div>
</div>



