<!--<div class="container">-->
<!--<div ui-view="topbar"></div>-->
<!--<div ui-view="main"></div>-->
<!--</div>-->

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title></title>-->
<!--<link rel="stylesheet" href="xf.css" media="screen" title="no title" charset="utf-8">-->
<!--<link rel="stylesheet" href="bootstrap.min.css" media="screen" title="no title" charset="utf-8">-->
<!--</head>-->
<!--<script src="jquery.min.js" charset="utf-8"></script>-->
<!--<script src="bootstrap.js" charset="utf-8"></script>-->

<!--<body>-->
<div ui-view="topbar">

<div class="container">
    <div class="row basicDiv">
        <div class="col-md-9">
            <div class="nav nav-pills">

                <li role="presentation" class="active"><a href="#">首页</a></li>
                <li role="presentation" class="pull-right"><a href="#">登录</a></li>
                <li role="presentation" class="pull-right"><a href="#">注册</a></li>
                <li role="presentation" class="pull-right"><a href="#">订单</a></li>
                <li role="presentation" class="pull-right"><a href="#">通知</a></li>
                <li role="presentation" class="pull-right"><a href="#">账户</a></li>
                <li role="presentation" class="pull-right"><a href="#">更多</a></li>
            </div>

        </div>
    </div>


</div>

<div class="row basicDiv">
    <div class="col-md-1">

    </div>

    <div class="col-md-1 dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            上海
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
        </ul>

    </div>
    <div class=" col-md-1">

        <!-- Single button -->
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    </div>
    <div class=" col-md-5">
        <input class="form-control" type="text" name="name" value="">

    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-primary" name="button">搜索</button>
    </div>
</div>


</div>

<div class="container">
    <img class="basicDiv" src="nav.jpg" height="200px" width="800px">
    <form float="right">

    </form>
</div>
<div class="basicDiv">
    <ol class="breadcrumb">
        <li class="navLi"><a href="#">国内长线</a></li>
        <li class="navLi"><a href="#">周边短线</a></li>
        <li class="navLi"><a href="#">主题旅游</a></li>
        <li class="navLi"><a href="#">游 轮</a></li>
        <li class="navLi"><a href="#">海 岛</a></li>
        <li class="navLi"><a href="#">酒 店</a></li>
    </ol>
</div>

<!-- 国内长线 -->
<hr>
<div class="basicDiv">
    <h2>国内长线</h2>
    <div class="row">

        <div class="col-md-3 ">
            <img class="toBlock  floatLeft" src="nav.jpg" height="100px" width="100px">
            <div>
                <a class="toBlock " href="#"><h4>海南</h4></a>
                <a href="#">海口</a>
                <a href="#">三亚</a>
                <a href="#">天涯海角</a>
            </div>
        </div>

        <div class="col-md-3 ">
            <img class="toBlock  floatLeft" src="nav.jpg" height="100px" width="100px">
            <div>
                <a class="toBlock " href="#"><h4>海南</h4></a>
                <a href="#">海口</a>
                <a href="#">三亚</a>
                <a href="#">天涯海角</a>
            </div>
        </div>

        <div class="col-md-3 ">
            <img class="toBlock  floatLeft" src="nav.jpg" height="100px" width="100px">
            <div>
                <a class="toBlock " href="#"><h4>海南</h4></a>
                <a href="#">海口</a>
                <a href="#">三亚</a>
                <a href="#">天涯海角</a>
            </div>
        </div>

    </div>
</div>
<hr>
<!-- 门票 -->
<div class="basicDiv">
    <h2>门票</h2>
    <div class="row">
        <div class="col-md-2">
            <img class="toBlock  floatLeft" src="nav.jpg" height="100px" width="100px">


        </div>
        <div class="col-md-2">
            <a class="toBlock " href="#"><h4>海南</h4></a>
            <a href="#">海口</a>
            <a href="#">三亚</a>
            <a href="#">天涯海角</a>
        </div>

        <div class="col-md-2">
            <a class="toBlock " href="#"><h4>海南</h4></a>
            <a href="#">海口</a>
            <a href="#">三亚</a>
            <a href="#">天涯海角</a>
        </div>

        <div class="col-md-2">
            <a class="toBlock " href="#"><h4>海南</h4></a>
            <a href="#">海口</a>
            <a href="#">三亚</a>
            <a href="#">天涯海角</a>
        </div>

        <div class="col-md-2">
            <a class="toBlock " href="#"><h4>海南</h4></a>
            <a href="#">海口</a>
            <a href="#">三亚</a>
            <a href="#">天涯海角</a>
        </div>
    </div>
</div>
<hr>
<!-- 热卖 -->
<div class="basicDiv">
    <h2>热卖</h2>


    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <a class="toBlock " href="#"><h4>[圈游节]曼谷＋沙美岛＋芭堤雅5晚6日游（直飞豪华酒店自助餐）</h4></a>
            <div class="floatLeft" style="color: red;">2580元</div>
            <div class="discountMsg">2134人</div>
            <div class="discountMsg" style="background-color:orange; padding: 0px; margin-right: -4px;">销量</div>
            <div class="discountMsg">送258</div>
            <div class="discountMsg">抵213</div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <a class="toBlock " href="#"><h4>[圈游节]曼谷＋沙美岛＋芭堤雅5晚6日游（直飞豪华酒店自助餐）</h4></a>
            <div class="floatLeft" style="color: red;">2580元</div>
            <div class="discountMsg">2134人</div>
            <div class="discountMsg" style="background-color:orange; padding: 0px; margin-right: -4px;">销量</div>
            <div class="discountMsg">送258</div>
            <div class="discountMsg">抵213</div>
        </div>

    </div>
</div>
<hr>
<!-- 最热 -->
<div class="basicDiv">
    <h2>最热</h2>
    <div class="row">
        <div class="col-md-2 ">
            <img class="toBlock  floatLeft" src="nav.jpg" height="100px" width="100px">
        </div>

        <div class="col-md-5">
            <div>
                <a class="toBlock " href="#"><h4>曼谷＋沙美岛＋芭堤雅5晚6日游（直飞豪华酒店自助餐）</h4></a>
                <div class="row">
                    <div class="col-md-3" style="text-align: right;">同行关注:</div>
                    <div class="col-md-1" style="color: orange;">6</div>
                    <div class="col-md-1" style="text-align: left;"> 次</div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="text-align: right ;">团期:</div>
                    <div class="col-md-2" style="color: orange;">06/06</div>
                    <div class="col-md-2" style="color: orange;">06/06</div>
                    <div class="col-md-2"><a href="#">[更多]</a></div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="text-align: right;">建议售价:</div>
                    <div class="col-md-1" style="color: orange;">14900</div>
                    <div class="col-md-1" style="text-align: left;">元</div>
                </div>
            </div>
        </div>

    </div>
</div>


<!--</div>-->

<!--</div>-->


<!--</body>-->
<!--</html>-->


