<div>
    <span>
        <table>

        </table>
    </span>
    <span>
        <table border="2">
        <tr>
            <th>id</th>
            <th>orderformId</th>
            <th>content</th>
            <th>generateTime</th>
            <th>isViewed</th>
            <th>receiverId</th>
        </tr>
        <tr ng-repeat="noti in unread">
            <td ng-bind="noti.id"></td>
            <td ng-bind="noti.orderformId"></td>
            <td ng-bind="noti.content"></td>
            <td ng-bind="noti.generateTime"></td>
            <td ng-bind="noti.isViewed"></td>
            <td ng-bind="noti.receiverId"></td>
        </tr>
    </table>
    </span>
</div>