<div>
    <div class="col-xs-12 col-sm-10 col-md-11" id="filter-container">
        <uib-tabset type="pills">
            <uib-tab ng-click="changeType($event)" id="unread" class="btn-sm filter-item" heading="未读消息"></uib-tab>
            <uib-tab ng-click="changeType($event)" id="read" class="btn-sm filter-item" heading="已读消息"></uib-tab>
            <uib-tab ng-click="changeType($event)" id="all" class="btn-sm filter-item" heading="全部消息"></uib-tab>
        </uib-tabset>
    </div>
    <span>
        <div class="panel panel-default">
            <div class="panel-heading"><span>&nbsp;&nbsp;<br/>&nbsp;&nbsp;</span></div>
            <div class="panel-body notification">
            <table id="notitable" class="table">
            <thead>
            <tr>
                <th>通知</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="noti in notis">
                <td><a ng-bind="noti.content" ng-click="setViewed(noti.id)" href="{{'#/home/orderDetail/' + noti.orderformId}}"></a></td>
                <td ng-bind="noti.generateTime | date:'yyyy-MM-dd HH:mm'"></td>
            </tr>
            </tbody>
            </table>
            </div>
        </div>
        <div id="pagefoot">
            <span>当前页:{{cPage}}</span>
            <button ng-click="changePage(cPage-1)" id="previous" class="btn-sm btn-primary">上一页</button>
            <button ng-click="changePage(cPage+1)" id="next" class="btn-sm btn-primary">下一页</button>
            <span>总页数：{{maxPage}}</span>
        </div>
    </span>
</div>