<style>
    body {
        font-family: "Hiragino Sans GB", "Microsoft YaHei", STHeiti, SimSun, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", 'Segoe UI', AppleSDGothicNeo-Medium, 'Malgun Gothic', Verdana, Tahoma, sans-serif;
        color: #4f6b72;
        line-height: 40px;
        background: #E6EAE9;
    }
    #orderinfo{
        background-color: #f7f7f7;
        border-radius: 5px;
        margin-bottom: 10px;
        padding:0px 15px 15px 15px;
        width: 50%;
        height: 440px;
        display: inline-block;
        vertical-align: top;
        -webkit-box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
    }
    #orderprocess
    {

        background-color: #f7f7f7;
        border-radius: 5px;
        margin-bottom: 10px;
        padding:0px 15px 15px 15px;
        width: 49%;
        height: 440px;
        display: inline-block;
        vertical-align: top;
        -webkit-box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
    }
    #multiInfo{
        margin-top: 0px;
        padding:8px 15px 15px 15px;
        background-color: #f7f7f7;
        border-radius: 5px;
        width: 99.5%;
        margin-bottom: 10px;
        -webkit-box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
    }
    #comment{
        padding:8px 15px 15px 15px;
        background-color: #f7f7f7;
        border-radius: 5px;
        width: 99.5%;
        margin-bottom: 10px;
        -webkit-box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);

    }

    th {
        font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        color: #4f6b72;
        border :1px solid #C1DAD7;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: left;
        padding: 6px 6px 6px 12px;
        background: transparent
    }

    th.nobg {
        border-top: 0;
        border-left: 0;
        border-right: 1px solid #C1DAD7;
        background: none;
    }

    td {
        border :1px solid #C1DAD7;
        background: transparent;
        padding: 6px 6px 6px 12px;
        color: #4f6b72;
    }
</style>
<div ng-controller="orderDetailCtrl">
    <div id="orderinfo">
        <h2>订单概要</h2>
        <div>订单状态：<span>{{getState(orderdetail.orderform.state)}}</span></div>
        <div>订单编号：{{orderdetail.orderform.id}}</div>
        <div>出团日期：{{orderdetail.tripSetoff.tripSetoffDate |date: 'yyyy-MM-dd'}}</div>
        <div>预订产品：{{orderdetail.product.name}}</div>
        <div>下单日期：{{orderdetail.orderform.bookTime|date: 'yyyy-MM-dd'}}</div>
        <div>回团日期：{{orderdetail.tripSetoff.tripSetoffDate+orderdetail.product.duration |date: 'yyyy-MM-dd'}}</div>
        <div>订单金额：{{orderdetail.price.total}}</div>
        <div>价格明细：成人（{{orderdetail.price.adultPrice }}元）{{orderdetail.price.adultnum}} 人</div>
        <div>儿童（{{orderdetail.price.childPrice}} 元）{{orderdetail.price.childnum}} 人</div>
    </div>

    <div id="orderprocess">
        <h2>订单处理</h2>
        <div>
        处理联系人：
        <div>
            联系人：{{orderdetail.orderform.booker}}
            联系电话：{{orderdetail.orderform.bookerPhone}}
        </div>
        </div>

        <div>
            签证材料寄送地址
            <div>
                联系人：{{orderdetail.orderform.booker}}
                联系电话：{{orderdetail.orderform.bookerPhone}}
            </div>
        </div>
        <div>
            处理跟踪
            <table>
                <thead>
                <tr>
                    <th>时间</th>
                    <th>操作信息</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="process in orderdetail.orderprocess">
                    <td>{{process.updateTime |date: 'yyyy-MM-dd'}}</td>
                    <td>{{process.trackItem}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
<div id="multiInfo">
    <div >
        <h2>订单信息</h2>
        预订信息：
        <div>
            联系人：{{orderdetail.orderform.booker}}
            联系电话：{{orderdetail.orderform.bookerPhone}}
        </div>
    </div>
    <div>
        产品信息：
        <div>
            产品编号:{{orderdetail.product.id}}
            产品名称：{{orderdetail.product.name}}
            出发城市：{{}}
            出游人数：成人{{orderdetail.price.adultnum}} 人
            儿童{{orderdetail.price.childnum}} 人
            订单金额：{{orderdetail.price.total}}
        </div>
    </div>
    <div>
        游客信息:
        <table>
            <thead>
            <tr>
                <th>姓名</th>
                <th>手机</th>
                <th>客户类型</th>
                <th>证件类型</th>
                <th>证件号码</th>
                <th>性别</th>
                <th>出生日期</th>
                <th>备注信息</th><!--
                <th>状态</th>-->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tourist in orderdetail.tourists">
                <td>{{tourist.name}}</td>
                <td>{{tourist.phone}}</td>
                <td><span> {{getTouristType(tourist.touristTypeId
                    )}}</span></td>
                <td>{{tourist.certifateType}}</td>
                <td>{{tourist.certifateNumber}}</td>
                <td>
                    <span ng-show="tourist.gender">男</span>
                    <span ng-show="!tourist.gender">女</span>
                </td>
                <td>{{tourist.birthDate|date: 'yyyy-MM-dd'}}</td>
                <td>{{tourist.remark}}</td><!--
                <td>{{tourist.state}}</td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="comment" ng-show="isHasComment(orderdetail.orderform.state)">
    <h2>订单评价</h2>
    <div>评价：{{orderdetail.orderform.comment}}</div>
    <div>评分：{{orderdetail.orderform.remark}}</div>
</div>
</div>