<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">产品发布</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form ng-submit="releaseProduct(products)" method="post" class="form-horizontal" role="form"
                  ng-controller="productCtrl">
                <div class="form-group">
                    <label class="col-md-2 control-label">产品名称：
                    </label>
                    <div class="col-md-8">
                        <input type="text" name="name" class="form-control" ng-model="products.name"
                               placeholder="请输入名字" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">产品简介：</label>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="3" name="brief" ng-model="products.brief"
                                  placeholder="请输入产品简介" required></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">产品详情：</label>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="5" name="detail" ng-model="products.detail"
                                  placeholder="请输入旅游产品详情" required></textarea>
                    </div>
                </div>
                <br>
                <!--  <div class="form-group">
                      <label class="col-md-2 control-label">出发地：</label>
                      <div class="col-md-2">
                          <select class="form-control" name="startloc" ng-model="userInfo.startloc">
                              <option selected>上海</option>
                              <option>南京</option>
                              <option>杭州</option>
                              <option>浙江</option>
                              <option>安徽</option>
                              <option>更多</option>
                          </select>
                      </div>
                     &lt;!&ndash; <label class="col-md-2 control-label">目的地：</label>
                      <div class="col-md-3 ">
                          <input type="text" name="targetloc" class="form-control col-md-3" placeholder="目的地有多个时以，分隔"
                                 ng-model="products.targetloc"
                                 required>
                          &lt;!&ndash; <p class="col-md-1">天</p>&ndash;&gt;
                      </div>&ndash;&gt;
                  </div>-->

                <div class="form-group">
                    <label class="col-md-2 control-label" ng-click="select_startLocation()">
                        <button type="button" class="btn btn-primary">出发地</button>
                    </label>
                    <div class="col-md-2">
                        <h4 ng-bind="products.startloc.name"></h4>
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" ng-click="select_destinations(lg)">
                        <button type="button" class="btn btn-primary">目的地</button>
                    </label>
                    <div class="col-xs-12 col-sm-10 col-md-8">
                        <div ng-repeat="destination in destinations">
                            <div class="col-xs-3 col-sm-2">
                                <h5><span class="label label-info">{{destination.name}}</span><a><i
                                        class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a></h5>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" ng-click="select_date()">
                        <button type="button" class="btn btn-primary">出团日期</button>
                    </label>
                    <div class="col-xs-12 col-sm-10 col-md-8">
                        <div ng-repeat="dt in products.setoffdate">
                            <div class="col-xs-3 col-sm-2">

                                <h5><span class="label label-info col-md-10">{{dt}}</span></h5>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">出行方式：</label>

                    <div class="col-xs-2 col-md-1">
                        <div class="checkbox">

                            <label><input type="checkbox" ng-model="products.train">火车</label>
                        </div>
                    </div>

                    <div class="col-xs-2 col-md-1">
                        <div class="checkbox">

                            <label><input type="checkbox" value=""ng-model="products.airplane">飞机</label>
                        </div>
                    </div>

                    <div class="col-xs-2 col-md-1">
                        <div class="checkbox">

                            <label><input type="checkbox" ng-model="products.ship">轮船</label>
                        </div>
                    </div>
                    <div class="col-xs-2 col-md-1">
                        <div class="checkbox">

                            <label><input type="checkbox" value=""  ng-model="products.car">汽车</label>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <div class="checkbox">

                            <label><input type="checkbox" value="" ng-model="products.other"><input type="text" placeholder="其他" ng-model="products.otherway"
                                                                          class="form-control"></label>

                        </div>
                    </div>
                </div>


                <br>
                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <label class="control-label">时长</label>
                        <div class="input-group">
                            <input type="number" class="form-control" name="duration" placeholder="请输入天数"
                                   ng-model="products.duration">
                            <span class="input-group-addon">天</span>
                        </div>


                    </div>
                    <div class="col-md-1"></div>

                    <div class="col-md-3">
                        <label class="control-label">标签</label>
                        <input type="text" name="tag" class="form-control" placeholder="标签，如：自由行"
                               ng-model="products.tag">

                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <label class="control-label">价格</label>
                        <div class="form-group">
                            <label class="control-label col-md-3">成人价</label>
                            <div class="col-md-6 form-inline">
                                <div class="input-group">
                                    <input type="number" class="form-control col-md-3" name="adultprice"
                                           placeholder="成人价格"
                                           ng-model="products.adultprice">
                                    <span class="input-group-addon">元</span>
                                </div>


                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">儿童价</label>
                            <div class="col-md-6 form-inline">
                                <div class="input-group">
                                    <input type="number" class="form-control col-md-3" name="childprice"
                                           placeholder="儿童价格"
                                           ng-model="products.childprice">
                                    <span class="input-group-addon" id="basic-addon2">元</span>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-2 control-label">住宿</label>
                            <div class="col-md-8">
                                <button class="btn btn-default" type="button" data-toggle="collapse"
                                        data-target="#collapseExample" aria-expanded="false"
                                        aria-controls="collapseExample">
                                    添加
                                </button>
                                <div class="collapse" id="collapseExample">
                                    <!--<div class="well">
                                        ...this
                                        <h1>hello</h1>
                                    </div>-->

                                    <!--hotel 1-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">酒店：
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" name="hotelname1" class="form-control"
                                                   ng-model="products.hotelname1"
                                                   placeholder="酒店等级">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">说明：
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" name="hoteldesc1" class="form-control"
                                                   ng-model="products.hoteldesc1"
                                                   placeholder="酒店名字&详情">
                                        </div>
                                    </div>
                                    <!--hotel 2-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">酒店：
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" name="hotelname2" class="form-control"
                                                   ng-model="products.hotelname2"
                                                   placeholder="酒店等级">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">说明：
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" name="hoteldesc2" class="form-control"
                                                   ng-model="products.hoteldesc2"
                                                   placeholder="详情">
                                        </div>
                                    </div>
                                    <!--hotel3-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">酒店：
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" name="hotelname3" class="form-control"
                                                   ng-model="products.hotelname3"
                                                   placeholder="酒店等级">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">说明：
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" name="hoteldesc3" class="form-control"
                                                   ng-model="products.hoteldesc3"
                                                   placeholder="详情">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">酒店：
                            </label>
                            <div class="col-md-8">
                                <input type="text" name="hotelname" class="form-control" ng-model="products.hotelname"
                                       placeholder="酒店等级" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">说明：
                            </label>
                            <div class="col-md-8">
                                <input type="text" name="hoteldesc" class="form-control" ng-model="products.hoteldesc"
                                       placeholder="详情" required>
                            </div>
                        </div>

                    </div>
                    <!-- <div class="col-md-3">
                         <label class="control-label">标签</label>
                         <input type="text" name="tag" class="form-control" placeholder="标签，如：自由行"
                                ng-model="products.tag">

                     </div>-->

                </div>
                <br>

          <!--      <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <label class="control-label">交通方式</label>
                        <div class="form-group">
                            <label class="control-label col-md-3">出发：</label>

                            <div class="col-md-6 form-inline">
                                <input type="text" class="form-control col-md-3" name="setoffway" placeholder="出发交通方式"
                                       ng-model="products.setoffway">

                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">返回：</label>
                            <div class="col-md-6 form-inline">
                                <input type="text" class="form-control col-md-3" name="backway" placeholder="返回交通方式"
                                       ng-model="products.backway">

                            </div>

                        </div>
                    </div>
                </div>-->
                <!--   <div class="form-group">
                       <label class="col-md-2 control-label">上传图片：
                       </label>
                       <div class="col-md-8" ng-controller="myCtrl">
                           <input type="file" name="certificate" class="form-control" file-model="myFile"
                                  onchange="openFile(event)"
                                  placeholder="" required> &lt;!&ndash;onchange="openFile(event)"&ndash;&gt;
                           &lt;!&ndash;onchange="angular.element(this).scope().fileNameChanged(this)"&ndash;&gt;
                           &lt;!&ndash;  ng-file-select="onFileSelect($files)"&ndash;&gt;
                           <img id='output' width="150px" float="left">
                           <button ng-click="uploadFile()" id="certificate" float="left" style="display:none;">upload
                               me
                           </button>
                           <script>
                               var openFile = function (event) {

                                   var input = event.target;
                                   var reader = new FileReader();
                                   reader.onload = function () {
                                       var dataURL = reader.result;
                                       var output = document.getElementById('output');
                                       output.src = dataURL;
                                   };
                                   reader.readAsDataURL(input.files[0]);
                                   document.getElementById("certificate").style.display = "block";
                               };

                           </script>

                       </div>
                       &lt;!&ndash; <button class="col-md-2" onclick="uploadmyfile()">上传</button>&ndash;&gt;
                   </div>-->
                <div class="form-group">
                    <div class="form-group">
                        <label class="col-md-2 control-label ">邮政编码：</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" rows="3" name="postcode"
                                   ng-model="products.postcode"
                                   placeholder="请输入邮政编码" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">收件人：</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" rows="3" name="receiver"
                                   ng-model="products.receiver"
                                   placeholder="请输入收件人姓名" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">电话：</label>
                        <div class="col-md-8">
                            <input type="number" class="form-control" rows="3" name="postphone"
                                   ng-model="products.postphone"
                                   placeholder="请输入收件人电话" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">地址：</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" rows="3" name="postaddress"
                                   ng-model="products.postaddress"
                                   placeholder="请输入收件地址" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-5 col-md-5">
                        <input type="submit" class="btn btn-default" value="确  &nbsp;   认">
                    </div>
                </div>

            </form>
        </div>

    </div>

</div>
