<div ng-controller="productDetailCtrl">
<div class="basicDiv row">


    <div class="col-md-6 col-md-offset-3" style="border: 5px lightskyblue inset;text-align: center; font-size: x-large;">
        {{product.name}}
    </div>
</div>

<div class="basicDiv row">

    <div class="col-md-3 col-md-offset-2 col-md-push-0 col-sm-3 col-sm-push-9 col-xs-3 col-xs-push-9 ">
        <div class="row">
            <div class="panel panel-default">

                    <!--<li ng-repeat="tripPic in product.tripPictures" style="list-style-type: none;">-->
                        <!--<img  id="trafficImg" src="{{tripPic.picturePath}} " alt="此处应有图片" style="width: 100%;" class="img-responsive center-block img-thumbnail">-->
                    <!--</li>-->
                    <img  src="{{trafficImg}}"  alt="此处应有图片" style="width: 100%;" class="img-responsive center-block img-thumbnail" >


                <!--<div class="row " style="margin-top: 10px;">-->
                    <!--<div class="col-md-1 col-md-offset-2">-->
                        <!--<button><</button>-->
                    <!--</div>-->
                    <!--<div class="col-md-1 col-md-offset-6">-->
                        <!--<button>></button>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <div class="col-md-3 col-md-offset-2 col-md-pull-0 col-sm-8 col-sm-pull-3 col-xs-8 col-xs-pull-3" >
        <div class="row">
            <!-- 这里需要动态绑定 -->
            <div class="panel panel-default">
                <div class="panel-heading" style="font-size: medium">商品详情</div>

                    <ul class="list-group">
                        <li class="list-group-item list-group-item-danger"><span>目的地: </span><ul><li ng-repeat="destination in product.tripDestinations">{{destination.location.name}}</li></ul></li>
                        <li  class="list-group-item list-group-item-success"><p>交通：</p>

                                <ul style="clear: both;">
                                    <li  ng-repeat="traffic in product.tripTraffics">{{traffic.trafficType.type}}
                                    </li>
                                </ul>
                        </li>
                        <li style="clear: both;" class="list-group-item list-group-item-info">价格：<ul ><li ng-repeat="price in product.tripPrices">{{price.touristType.type}}:{{price.price}}</li></ul></li>
                        <li class="list-group-item list-group-item-warning">天数: <ul><li >{{product.duration}}</li></ul></li>
                        <li class="list-group-item list-group-item-default">选择:
                            <ul>
                                <li>{{selected_setoff.tripSetoffDate| date: 'yyyy-MM-dd'}}</li>
                            </ul>
                        </li>
                    </ul>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        出发日期
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="tripSetoff in product.tripSetoffs"><a ng-click="select_trip_setoff(tripSetoff)">{{tripSetoff.tripSetoffDate|date : 'yyyy-MM-dd '}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-2 col-sm-5"><button type="button" class = "btn btn-primary" ng-click="to_collect()">加入收藏</button></div>

            <div class="col-md-3 col-md-offset-1 col-sm-5 col-sm-offset-2"><button type="button" class = "btn btn-primary" ng-click="tocreate_orderform()">立即购买</button> </div>
        </div>


    </div>
</div>

    <hr>
    <div class="container">
        <h4>商品简介</h4>
        <p>{{product.summary}}</p>

    </div>



<hr>
<div class = "basicDiv row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <ol class="breadcrumb">
            <li ng-repeat="tripDetail in product.tripDetails" class = "navLi"><a href="" style="font-size: large;">{{tripDetail.type}}</a></li>
        </ol>
    </div>


</div>
<hr>
<!-- 行程信息 -->

<div class="basicDiv" ng-repeat="tripDetail in product.tripDetails">
    <div class="basicDiv row" >
        <p style="font-size: medium; color:lightpink;" >{{tripDetail.type}}</p>
    </div>
    <div class="basicDiv row">
        <div class="col-md-8 col-md-offset-2" style="color: grey;">
            {{tripDetail.content}}
        </div>
    </div>
</div>


</div>




<script type="text/javascript">
    function changePanel(id) {
        document.getElementById('basicPayMsgPanel').style.display='none';
        document.getElementById('payIncludeMsgPanel').style.display='none';
        document.getElementById('payNotIncludeMsgPanel').style.display='none';
        document.getElementById('payByOneselfMsgPanel').style.display='none';
        document.getElementById(id).style.display='block';


    }




</script>