<div ng-controller="searchCtrl">
    <div class="container">
        <div class="row">
            <div class="col-xs-1 col-sm-2 col-md-2">

            </div>

            <div class="col-xs-2 col-sm-1 col-md-1">
                <button type="button" class="btn btn-default" ng-click="select_location(lg)">
                    {{setoff_location.name}}
                </button>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6">
                <input class="form-control" type="text" name="name" placeholder="请输入" ng-model="search_condition.search_str">

            </div>
            <div class="col-xs-1 col-md-1">
                <button type="button" class="btn btn-primary" name="button" ng-click="search()">搜索</button>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-11 col-sm-2 col-md-1">
                <label><h4><span class="label label-primary">出行方式</span></h4></label>
            </div>

            <div class="col-xs-2 col-md-1">
                <div class="checkbox">

                    <label><input type="checkbox" value="">火车</label>
                </div>
            </div>

            <div class="col-xs-2 col-md-1">
                <div class="checkbox">

                    <label><input type="checkbox" value="">飞机</label>
                </div>
            </div>

            <div class="col-xs-2 col-md-1">
                <div class="checkbox">

                    <label><input type="checkbox" value="">轮船</label>
                </div>
            </div>
            <div class="col-xs-2 col-md-1">
                <div class="checkbox">

                    <label><input type="checkbox" value="">汽车</label>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <div class="checkbox">

                    <label><input type="checkbox" value=""><input type="text" placeholder="其他" class="form-control"></label>

                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-11 col-sm-2 col-md-1">

                <label><h4><span class="label label-primary">出发日期</span></h4></label>

            </div>

            <div class="col-xs-4 col-sm-3 col-md-2">
                <div class="input-group">
 			<span class="input-group-addon">
        	<input type="checkbox" aria-label="...">
      		</span>
                    <input type="number" class="form-control" value="2016">
                    <span class="input-group-addon">年</span>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2">
                <div class="input-group">
 			<span class="input-group-addon">
        	<input type="checkbox" aria-label="...">
      		</span>
                    <input type="number" class="form-control" value="1">
                    <span class="input-group-addon">月</span>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2">
                <div class="input-group">
 			<span class="input-group-addon">
        	<input type="checkbox" aria-label="...">
      		</span>
                    <input type="number" class="form-control" value="1">
                    <span class="input-group-addon">日</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-11 col-sm-2 col-md-1">

                <button class="btn btn-primary">目的地</span>

            </div>


            <div class="col-xs-12 col-sm-10 col-md-11">
                <div class="col-xs-3 col-sm-2" ng-repeate="">
                    <h5><span class="label label-info">美国</span><a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a> </h5>

                </div>
                <div class="col-xs-3 col-sm-2">
                    <h5><span class="label label-info">美国</span><a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a> </h5>

                </div>
                <div class="col-xs-3 col-sm-2">
                    <h5><span class="label label-info">美国</span><a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a> </h5>

                </div>
                <div class="col-xs-3 col-sm-2">
                    <h5><span class="label label-info">美国</span><a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a> </h5>

                </div>
                <div class="col-xs-3 col-sm-2">
                    <h5><span class="label label-info">美国</span><a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a> </h5>

                </div>
                <div class="col-xs-3 col-sm-2">
                    <h5><span class="label label-info">美国</span><a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a> </h5>

                </div>
                <div class="col-xs-3 col-sm-2">
                    <h5><span class="label label-info">美国</span><a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a> </h5>

                </div>
            </div>

        </div>
        <div class="row">


            <div class="col-xs-11 col-sm-2 col-md-1">
                <label><h4><span class="label label-primary">排序方式</span></h4></label>
            </div>

            <div class="col-xs-12 col-sm-10 col-md-11">
                <uib-tabset type="pills">
                    <uib-tab heading="默认" classes="btn-sm"></uib-tab>
                    <uib-tab heading="点击率" classes="btn-sm"></uib-tab>
                    <uib-tab heading="价格升" classes="btn-sm"></uib-tab>
                    <uib-tab heading="价格降" classes="btn-sm"></uib-tab>
                    <uib-tab heading="购买量" classes="btn-sm"></uib-tab>
                    <uib-tab heading="评论数" classes="btn-sm"></uib-tab>
                    <uib-tab heading="评分" classes="btn-sm"></uib-tab>
                </uib-tabset>
            </div>



        </div>
    </div>

    <div class="panel-body">
        <table class="table">
            <tr ng-repeat="simplep in results">
                <td><a href="#/product_detail/{{simplep.id}}">{{simplep.name}}</a></td>
                <td>{{simplep.summary}}</td>
                <td>{{simplep.supplier.cname}}</td>
                <td>出行时长:{{simplep.duration}}</td>
                <td>点击率:{{simplep.clickRate}}</td>
                <td>购买数: 0</td>
                <td>评论数: 0</td>
                <td>平均评分: 0</td>
                <td>
                    <ul ng-repeat="setoff in simplep.tripSetoffs">
                        <li></li>
                    </ul>
                </td>
                <td>
                    <ul ng-repeat="price in simplep.tripPrices">
                        <li>{{price.touristType.type}}:{{price.price}}</li>

                    </ul>
                </td>
                <td>
                    <ul ng-repeat="destination in simplep.tripDestinations">
                        {{destination.location.name}}
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>