<div ng-controller="searchCtrl">
    <div class="container">
        <div class="row">
            <div class="col-xs-1 col-sm-2 col-md-2">

            </div>

            <div class="col-xs-2 col-sm-1 col-md-1">
                <button type="button" class="btn btn-default" ng-click="select_location(lg)">
                    {{setoff_location.name}}
                </button>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6">
                <input class="form-control" type="text" name="name" placeholder="请输入"
                       ng-model="basic_search_str">

            </div>
            <div class="col-xs-1 col-md-1">
                <button type="button" class="btn btn-primary" name="button" ng-click="search()">搜索</button>
            </div>
        </div>

    </div>

    <!--search condition-->
    <div class="container">
        <div class="row">
            <div class="col-xs-11 col-sm-2 col-md-1">
                <label><h4><span class="label label-primary">出行方式</span></h4></label>
            </div>

            <div class="col-xs-2 col-md-1">
                <div class="checkbox">

                    <label><input type="checkbox" ng-model="traffic_train">火车</label>
                </div>
            </div>

            <div class="col-xs-2 col-md-1">
                <div class="checkbox">

                    <label><input type="checkbox" ng-model="traffic_plane">飞机</label>
                </div>
            </div>

            <div class="col-xs-2 col-md-1">
                <div class="checkbox">

                    <label><input type="checkbox" ng-model="traffic_ship">轮船</label>
                </div>
            </div>
            <div class="col-xs-2 col-md-1">
                <div class="checkbox">

                    <label><input type="checkbox" ng-model="traffic_bus">汽车</label>
                </div>
            </div>
            <div class="col-xs-2 col-md-1">
                <div class="checkbox">

                    <label><input type="checkbox" ng-model="traffic_other">其他</label>

                </div>
            </div>
        </div>

        <!--setoff date-->
        <div class="row">

            <div class="col-xs-11 col-sm-2 col-md-1">

                <label><h4><span class="label label-primary">出发日期</span></h4></label>

            </div>

            <div class="col-xs-4 col-sm-3 col-md-3">
                <div class="input-group">
 			<span class="input-group-addon">
        	<input type="checkbox" aria-label="..." ng-model="setoff_year" >
      		</span>
                    <input type="number" class="form-control" ng-model="setoff_year_content" min="1970">
                    <span class="input-group-addon">年</span>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2">
                <div class="input-group">
 			<span class="input-group-addon">
        	<input type="checkbox" aria-label="..." ng-model="setoff_month" >
      		</span>
                    <input type="number" class="form-control" ng-model="setoff_month_content" min="1" max="12">
                    <span class="input-group-addon">月</span>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2">
                <div class="input-group">
 			<span class="input-group-addon">
        	<input type="checkbox" aria-label="..." ng-model="setoff_day" >
      		</span>
                    <input type="number" class="form-control" ng-model="setoff_day_content" min="1" max="31">
                    <span class="input-group-addon">日</span>
                </div>
            </div>
        </div>

        <!--destination-->
        <div class="row">
            <div class="col-xs-11 col-sm-2 col-md-1">

                <button class="btn btn-primary" ng-click="select_destinations(lg)">目的地</span></button>

            </div>


            <div class="col-xs-12 col-sm-10 col-md-11">
                <div ng-repeat="destination in destinations">
                    <div class="col-xs-3 col-sm-2">
                        <h5><span class="label label-info">{{destination.name}}</span>
                            <a ng-click="remove_destination(destination)"><i
                                    class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
                        </h5>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">


            <div class="col-xs-11 col-sm-2 col-md-1">
                <label><h4><span class="label label-primary">排序方式</span></h4></label>
            </div>

            <div class="col-xs-12 col-sm-10 col-md-11">
                <uib-tabset type="pills">
                    <uib-tab heading="默认" classes="btn-sm" ng-click="set_result_order(0)"></uib-tab>
                    <uib-tab heading="点击率" classes="btn-sm" ng-click="set_result_order(1)"></uib-tab>
                    <uib-tab heading="价格升" classes="btn-sm" ng-click="set_result_order(2)"></uib-tab>
                    <uib-tab heading="价格降" classes="btn-sm" ng-click="set_result_order(3)"></uib-tab>
                    <uib-tab heading="购买量" classes="btn-sm" ng-click="set_result_order(4)"></uib-tab>
                    <!--<uib-tab heading="评论数" classes="btn-sm" ng-click="set_result_order(5)"></uib-tab>-->
                    <!--<uib-tab heading="评分" classes="btn-sm" ng-click="set_result_order(6)"></uib-tab>-->
                </uib-tabset>
            </div>


        </div>
    </div>

    <!--search result-->
    <div class="container">
        <hr>
        <div ng-repeat="simplep in results">
            <div class="row">


                <div class="col-xs-12 col-md-6">
                    <a href="#/product_detail/{{simplep.id}}"><span style="font-size:1.5em;">{{simplep.name}}</span></a>

                    <label><span class="label label-default">{{simplep.supplier.cname}}</span></label>
                </div>


                <div class="col-xs-4 col-md-2">
                    <ol class="list-unstyled">
                        <li><label><span class="label label-primary">目的地</span></label></li>
                        <li ng-repeat="destination in simplep.tripDestinations"><label><span
                                class="label label-default">
                    {{destination.location.name}}
                </span></label></li>
                    </ol>


                </div>

                <div class="col-xs-4 col-md-2">
                    <ol class="list-unstyled">
                        <li ng-repeat="price in simplep.tripPrices">
                            <label><span class="label label-default">
                        {{price.touristType.type}}
                    </span></label>
                            {{price.price}}
                            <label><span class="label label-default">
                        元
                    </span></label>
                        </li>


                    </ol>

                </div>

                <div class="col-xs-4 col-md-2">
                    <ol class="list-unstyled">
                        <li ng-repeat="setoff in simplep.tripSetoffs">
                            <button type="button" disabled="true" class="btn btn-sm btn-default">
                                {{setoff.tripSetoffDate|date:'yyyy-MM-dd'}}
                            </button>
                        </li>


                    </ol>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-4 col-md-3">
                    <label><span class="label label-default">
                {{simplep.duration}}天</span></label>
                </div>
                <div class="col-xs-4 col-md-3">
                    <label><span class="label label-default">
                    点击率:{{simplep.clickRate}}</span></label>
                </div>
                <!--<div class="col-xs-6 col-md-3">-->
                    <!--<label><span class="label label-default">-->
                        <!--评论数</span></label>-->
                <!--</div>-->
                <div class="col-xs-4 col-md-3">
                    <label><span class="label label-default">
                            购买量:{{get_purchase_count(simplep)}}</span></label>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="container center-block text-center">
        <uib-pagination total-items="page.totalCount" ng-model="page.pageNo" iterms-per-page="page.pageSize"
                        ng-change="pageChanged()" class="samplePage pagination-sm" boundary-link-numbers="true">
        </uib-pagination>
    </div>

    <!--add pager-->
</div>
