<div class="row" ng-controller="searchBarCtrl">
    <div class="col-xs-1 col-sm-2 col-md-2">

    </div>

    <div class="col-xs-2 col-sm-1 col-md-1">

        <!-- Single button -->
        <div class="btn-group">
            <button type="button" class="btn btn-default">
            <span class="caret">{{setoff_bar_location.name}}</span>
            </button>

        </div>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5">
        <input class="form-control" type="text" name="name" placeholder="请输入" ng-model="search_bar_str">

    </div>
    <div class="col-xs-1 col-md-1">
        <button type="button" class="btn btn-primary" name="button" ng-click = "on_search()">搜索</button>
    </div>
</div>