<div ng-controller="searchCtrl">
<div class="row basicDiv">
    <div class="col-md-1">

    </div>

    <div class=" col-md-1">

        <!-- Single button -->
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{setoff_location.name}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    </div>
    <div class=" col-md-5">
        <input class="form-control" type="text" name="name" placeholder="请输入" ng-model="search_condition.search_str">

    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-primary" name="button" ng-click = "search()">搜索</button>
    </div>
</div>
    <div class="basicDiv" style="border: 1px solid purple;padding:20px;">
        <div class="basicDiv" >
            <label >出发日期：</label>
            <input type="date" value="2016-05-20"></input>
        </div>

        <div class="basicDiv">
            <label >出发城市：</label>
            <input name = "city" type="radio">北京</input>
            <input name = "city" type="radio">上海</input>
            <input name = "city" type="radio">深圳</input>
            <input name = "city" type="radio">广州</input>
            <input name = "city" type="radio">成都</input>
            <input name = "city" type="radio">其他：<input name = "city"type="text"></input></input>
        </div>

        <div class="basicDiv">
            <label >行程天数：</label>
            <input name = "days" type="radio">1-3</input>
            <input name = "days" type="radio">3-5</input>
            <input name = "days" type="radio">5-7</input>
            <input name = "days" type="radio">7-10</input>
            <input name = "days" type="radio">10+</input>
            <input name = "days" type="radio">其他：<input name= "days"type="text"></input></input>
        </div>

        <div class="basicDiv">
            <label >包含区域：</label>
            <input name = "district" type="radio">珠海</input>
            <input name = "district" type="radio">湛江</input>
            <input name = "district" type="radio">广州</input>
            <input name = "district" type="radio">惠州</input>
            <input name = "district" type="radio">东莞</input>
            <input name = "district" type="radio">其他：<input name = "district"type="text"></input></input>
        </div>
        <div class="basicDiv">
            <label >出行方式：</label>
            <input name="way" type="radio">不限</input>
            <input name="way" type="radio">飞机</input>
            <input name="way" type="radio">火车</input>
            <input name="way" type="radio">巴士</input>
            <input name="way" type="radio">其他：<input name="way" type="text"></input></input>

        </div>

        <div class="basicDiv">
            <label >综合排序：</label>
            <input name="sort" type="checkbox">销量</input>
            <input name="sort" type="checkbox">评分</input>
            <input name="sort" type="checkbox">
            <select>
                <option>价格从高到低</option>
                <option>价格从低到高</option>
            </select>
            <input name="sort" type="checkbox">价格区间：</input>
            <input type="text"></input>-
            <input type="text"></input>

            </input>

        </div>
    </div>
<div class="panel-body">
    <table class="table">
    <tr ng-repeat="simplep in results">
        <td><a href="#/product_detail/{{simplep.id}}">{{simplep.name}}</a></td>
        <td>{{simplep.summary}}</td>
        <td>{{simplep.supplier.cname}}</td>
        <td>出行时长:{{simplep.duration}}</td>
        <td>点击率:{{simplep.clickRate}}</td>
        <td>购买数: 0</td>
        <td>评论数: 0</td>
        <td>平均评分: 0</td>
        <td><ul ng-repeat = "setoff in simplep.tripSetoffs">
            <li></li>
        </ul></td>
        <td>
            <ul ng-repeat = "price in simplep.tripPrices">
                <li>{{price.touristType.type}}:{{price.price}}</li>

            </ul>
        </td>
        <td>
            <ul ng-repeat = "destination in simplep.tripDestinations">
                {{destination.location.name}}
            </ul>
        </td>
    </tr>
    </table>
</div>
</div>