<!--
<nav class="navbar navbar-inverse " style="background-color: #428bca" role="navigation">

    <ul class="nav navbar-nav container-fluid" >
        <li>
            <a ui-sref="home.index">首页</a>
        </li>
        <li>
            <a ui-sref="home.guideregister">导游注册</a>
        </li>
        <li>
            <a href="#/home/login">登录</a>
        </li>
        <li>
            <a ui-sref="home.order">订单</a>
        </li>
        <li>
            <a ui-sref="home.notification">通知</a>
        </li>
        <li>
            <a ui-sref="home.account">账户</a>
        </li>
    </ul>
</nav>

-->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Ranger</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="home.index">首页</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">注册 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="home.guideregister">导游注册</a>
                        </li>
                        <li>
                            <a ui-sref="home.angencyregister">旅行社注册</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#/home/login">登录</a>
                </li>
                <li>
                    <a ui-sref="home.order">订单</a>
                </li>
                <li>
                    <a ui-sref="home.notification">通知</a>
                </li>
                <li>
                    <a ui-sref="home.account">账户</a>
                </li>
                <li class="dropdown">
                    <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="home.angencyregister.upload">上传证书</a>
                        </li>
                        <li>
                            <a ui-sref="home.recharge">充值</a>
                        </li>
                        <li>
                            <a ui-sref="home.angencyPicEdit">编辑证书</a>
                        </li>
                        <li>
                            <a ui-sref="home.product_release">发布产品</a>
                        </li>
                        <li>
                            <a ui-sref="home.my_product">我的产品</a>
                        </li>
                        <li>
                            <a ui-sref="home.angency_info">旅行社信息</a>
                        </li>
                        <li>
                            <a ui-sref="home.guide_info">导游信息</a>
                        </li>
                        <li>
                            <a ui-sref="home.guide">编辑导游信息</a>
                        </li>
                        <li>
                            <a ui-sref="home.supplier_order">订单(供应商)</a>
                        </li>


                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
