<div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-pencil"></i>&nbsp;查询导游信息</h3>
</div>
<form name="form" class="form-horizontal form-validation">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">导游电话</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="data.phone" required>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">取消</button>
        <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ok()">确定</button>
    </div>
</form>
