<!DOCTYPE html>
<!--<html lang="en" ng-app="rangerApp" ng-controller="testCtrl">-->
<html lang="en" ng-app="rangerApp">
<head>
    <meta charset="UTF-8">
    <title>Ranger</title>



</head>
<body>
<div>

    <div ng-view ></div>

</div>
<!--<div ng-view></div>-->
<!--<div>-->
    <!--<form href="#" onsubmit=""></form>-->
    <!--<input ng-model="account.name">-->
    <!--<input ng-model="account.age">-->
<!--</div>-->

<!--<div>-->
    <!--<input ng-model="d">-->
<!--</div>-->

<!--<a href="/api/account">=========</a>-->
<!--<div class="view-container">-->
    <!--<div ng-view class="view-frame"></div>-->
<!--</div>-->

<!--jQuery-->
<script src="bower_components/jquery/dist/jquery.js"></script>
<!--Angular-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<!--App-->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/controller.js"></script>
<script src="scripts/controllers/orderController.js"></script>

</body>
</html>